body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  background: white;
  position: absolute; }
  body section {
    width: 100%;
    height: 400px;
    font-size: 27px;
    color: white; }
    body section .title {
      margin: 0;
      font-family: 'GrundschriftBold';
      font-weight: bold;
      font-style: normal;
      padding-top: 70px;
      font-size: 65px; }
    body section button {
      width: 250px;
      height: 50px;
      margin-top: 12px;
      border-radius: 3px;
      border: none;
      font-family: 'GrundschriftBold';
      font-size: 20px; }
    body section p {
      font-family: 'UniqueRegular';
      font-size: 28px;
      font-style: normal;
      font-weight: normal; }
  body header {
    width: 100%;
    height: 100px;
    background-color: white;
    font-size: 18px;
    font-family: 'GrundschriftBold';
    font-weight: bold;
    font-style: normal; }
    body header .content {
      width: 88%;
      margin: 0 auto; }
    body header .icon {
      width: 15%;
      height: 100px;
      border-right: 1px solid #F3F0EB;
      background-image: url("../resource/logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      float: left; }
    body header .nav-link {
      width: 70%;
      float: left; }
      body header .nav-link a {
        display: inline-block;
        width: 15%;
        margin-top: 35px;
        text-align: center; }
    body header .button {
      height: 100px;
      width: 150px;
      float: left;
      border-left: 1px solid #F3F0EB;
      padding-left: 30px; }
    body header button {
      width: 110px;
      height: 35px;
      border: 1px solid #636471;
      border-radius: 3px;
      background-color: white;
      margin-top: 27px;
      font-family: 'GrundschriftBold';
      font-size: 20px;
      color: #636471; }
  body .search {
    width: 100%;
    height: 400px;
    background-image: url("../resource/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    body .search h2 {
      display: block;
      width: 85%;
      margin: 0 auto;
      padding-top: 150px;
      text-align: center;
      font-family: 'GrundschriftBold'; }
    body .search div {
      width: 50%;
      margin: 0 auto;
      padding-top: 50px; }
      body .search div .student {
        float: left; }
      body .search div .tutor {
        float: right;
        border: none; }
    body .search button {
      width: 280px;
      height: 50px;
      border-radius: 3px;
      border: 1px solid white;
      font-family: 'GrundschriftBold';
      font-size: 20px;
      background: transparent;
      color: white; }
  body .mission {
    background-color: white;
    text-align: center; }
    body .mission .title {
      color: #4B4C57; }
    body .mission p {
      width: 54%;
      margin: 25px auto;
      color: #4B4C57; }
    body .mission .donate {
      background-color: #FDCC6A; }
  body .students, body .partners {
    background-color: #93CFB2;
    height: 450px; }
    body .students .students-icon, body .partners .students-icon {
      width: 40%;
      float: left; }
      body .students .students-icon span, body .partners .students-icon span {
        width: 250px;
        height: 250px;
        font-size: 250px;
        float: right;
        margin: 75px 50px 75px; }
    body .students .content, body .partners .content {
      width: 60%;
      float: right; }
      body .students .content p, body .partners .content p {
        width: 68%; }
      body .students .content .start-learning, body .students .content .help-us, body .partners .content .start-learning, body .partners .content .help-us {
        background-color: #89C3A7; }
  body .prospective-tutors {
    background-color: #FDCC6A; }
    body .prospective-tutors .prospective-icon {
      width: 35%;
      float: right; }
      body .prospective-tutors .prospective-icon span {
        width: 250px;
        height: 250px;
        font-size: 250px;
        float: left;
        margin: 75px 50px 75px; }
    body .prospective-tutors .content {
      width: 50%;
      float: left;
      padding-left: 200px; }
    body .prospective-tutors .join-us {
      background-color: #E9BB62; }
  body .our-progress {
    background-color: white;
    height: 450px; }
    body .our-progress .title {
      color: #4B4C57;
      width: 30%;
      margin: 0 auto; }
    body .our-progress .content {
      width: 80%;
      margin: 25px auto;
      text-align: center; }
      body .our-progress .content div {
        width: 200px;
        height: 200px;
        margin: 5px;
        display: inline-block;
        border: 1px solid #F3F0EB; }
        body .our-progress .content div p {
          font-size: 15px; }
        body .our-progress .content div .price {
          font-size: 35px; }
      body .our-progress .content .home-tutor p {
        color: #93CFB2; }
      body .our-progress .content .session-hosted p {
        color: #FDCC6A; }
      body .our-progress .content .volunteer-tutors p {
        color: #81A8CA; }
  body footer {
    width: 100%;
    height: 60px;
    background-color: #4D4E59;
    font-size: 18px;
    font-family: 'GrundschriftBold';
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: white;
    padding-top: 20px; }
    body footer span {
      font-family: 'GrundschriftBold';
      font-weight: normal;
      font-style: normal;
      font-size: 15px;
      margin-left: 5px; }

.transparent-button {
  width: 280px;
  height: 50px;
  background-color: white;
  position: relative;
  left: 800px;
  top: 410px;
  border-radius: 3px;
  opacity: 0.7; }

/*# sourceMappingURL=main.css.map */
